<table class="table table-hover">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Company</th>
    <th>Position</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="emp in employees | filter: searchEmp">
        <td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.companyName}}</td>
        <td>{{emp.position}}</td>
        <td>
            <i title="Edit" style="color: #128d36;" data-toggle="modal" data-target="#editEmpModal" class="glyphicon glyphicon-edit cursorPointer" ng-click="editEmployee(emp)">
            </i>
        </td>
        <td>
            <i title="Delete" style="color: #d85010;" class="glyphicon glyphicon-trash cursorPointer" ng-confirm-message="Are you sure want to delete?" ng-confirm-click="deleteEmployee(emp.id)">
            </i>
        </td>
    </tr>
    </tbody>
</table>

<p style="color: rgb(110, 114, 114)">Showing <strong style="color: rgb(42, 41, 41);">{{ (employees | filter:searchEmp).length }}</strong> of <strong style="color: rgb(16, 106, 135);">{{employees.length}}</strong> entries</p>
